* {
    margin: 0;
    padding: 0;
    transition: all .5s;
}

body {
    background: #8c8d8d;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.day {
    position: absolute;
    top: 0;
}

#day {
    font-size: 30px;
    color: #ffffff;
}

.qwe {
    width: 200px;
    height: 200px;
    background: greenyellow;
}

form {
    margin: 20% auto;
    background-color: rgb(61, 195, 236);
    width: 30%;
    align-items: center;
    border-radius: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text {
    text-align: center;
    display: inline;
    width: 10%;
    height: 100px;
}

input {
    border-radius: 10px 0 0 10px;
    margin: 2px;
    padding: 3px;
    border: 0;
}

title {
    background: red;
}

button {
    padding: 10px;
    background: #000000;
    border: 0;
    color: greenyellow;
    border-radius: 16px;
    cursor: pointer;
}

a {
    display: inline;
    text-decoration: none;
    color: #6e1010fb;
}

p {
    display: inline-flex;
}

a,
p {
    font-size: large;
}

#container {
    display: flex;
    background: rgb(27, 218, 202);
    width: 500px;
    height: 200px;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    z-index: 1;
    display: none;
}

.title {
    width: 70%;
    direction: ltr;
    /* position: absolute; */
    display: flex;
    font-size: larger;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
}

#button {
    direction: ltr;
    display: flex;
}

#d {
    padding: 20px;
}