* {
    margin: 0;
    padding: 0;
    transition: all .5s;
}

body {
    background: #8c8d8d;
    height:100vh;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}
form:active{
    opacity: .2;
}
:link{
    box-shadow:  0 0 10px .2px rgb(0, 0, 0);
    color: #202020;
}
::selection{
    color: #1d64fd;
}
.day {
    position: absolute;
    top: 0;
}

#day {
    font-size: 30px;
    color: #ffffff;
}

.qwe {
    width: 200px;
    height: 200px;
    background: greenyellow;
}

form {
    margin: 20% auto;
    background-color: rgb(61, 195, 236);
    width: 30%;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    text-align: center;
}

.text {
    text-align: center;
    display: inline;
    width: 10%;
    height: 100px;
}

input {
    border-radius: 10px 0 0 10px;
    margin: 2px;
    padding: 3px;
    border: 0;
}

title {
    background: red;
}

button {
    padding: 10px;
    background: #000000;
    border: 0;
    color: greenyellow;
    border-radius: 16px;
    cursor: pointer;
}

#container {
    background: #1bdaca;
    width: 500px;
    height: 200px;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 250px;
    border-radius: 16px;
    z-index: 1;
    display: none;
}

.title {
    width: 70%;
    direction: ltr;
    display: flex;
    font-size: larger;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
}

#button {
    direction: ltr;
    display: flex;
}

#d {
    padding: 20px;
}

.div {
    width: 100px;
    height: 100px;
    background-color: red;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.loading{
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
}
.rotater{
    padding: 50px;
    border: 20px solid #b4b4b4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rotate{
    padding: 50px;
    border-top: 20px solid #02eeff;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-radius: 50%;
    position: fixed;
    animation: rtt 1.8s  infinite;
}
@keyframes rtt{
    to{
        rotate:360deg;
    }
}
@media screen and (min-width:300px) and (max-width:480px){
    form{
        width:100%;
        margin-top:200px;

    }
    #container{
        width: 100%;
        top: 200px;
    }
}

@media screen and (min-width:500px) and (max-width:600px){
    form{
        width:50%;
        margin-top:300px;

    }
  
}

@media screen and (min-width:600px) and (max-width:1000px){
    form{
        width:50%;
        margin-top:200px;

    }
  
}

@media screen and (min-width:500px) and (max-width:1000px){
    form{
        width:80%;
        margin-top:200px;

    }
  
}
#Btn21{
    display: none;
}
